ol {
  list-style-type: none;
}

ol li {
  border: 1px solid black;
  /* box-shadow: offset-x | offset-y | blur-radius | color ; */
  box-shadow: 5px 5px 8px rgba(17, 17, 17, 0.8);
}

div a.pokeTitle {
  font-family: 'Pokemon Hollow', sans-serif;
  text-transform: capitalize;
  font-size: 24px;
}

div a.pokeTitle:link,
div a.pokeTitle:visited {
  color: black;
}
